<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú Hamburguesa</title>
  <link rel="stylesheet" href="/styles/styles_historial.css">
</head>
<body>

  <!-- Botón hamburguesa -->
  <div class="menu-btn" id="menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <h2>Perfil de Usuario</h2>
    <div class="user-info">
      <p><strong>Nombre y Apellido:</strong> Juan Pérez</p>
      <p><strong>Correo:</strong> juan.perez@example.com</p>
    </div>
    <a href="#" class="recover">Recuperar Contraseña</a>
  </div>

  <script link src="/scripts/script_menu_hamb.js"></script>

</body>
</html>
